.container{
 border: 5px solid purple;
 padding: 15px;
 display: flex;
 /* width: 500px; */
 height: 400px;
 flex-direction: row;
 justify-content: space-evenly;
 /* align-items: center; */
 align-content: stretch;
 flex-wrap: wrap-reverse;
}

.vermelho{
background-color: red;
width: 150px;
/* height: 50px; */

}

.verde{
    background-color:green;
    width: 200px;
    /* height: 50px; */
}

.azul{
    background-color:blue;
    width: 150px;
    /* height: 50px; */
}